.App {
  text-align: center;
}


.btn-sq-sm {
  width: 22px !important;
  height: 22px !important;
  font-size: 15px;
  cursor: pointer;
}

.padding {
  padding: 25px;
}

.form-container {
  width: 100%
}

.input-fields {
  display: inline-block;
  width: 60%;
  margin-bottom: 15px;
}

.input-labels {
  min-width: 75px;
  display: inline-block;
  width: 15%;
}

.btn-create {
  /*margin-top: 15px;*/
  margin-bottom: 15px;
}

.score {
  padding: 10px;
  font-size: 24px;
  color: red;
}

.matrix {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;

}
